/*header{
    height:5rem;
    width:100%;
    border-bottom:1px solid #f2f2f2;
    display:flex;
    justify-content: center;
    background-color: var(--azul);
    position: sticky;
    top:0;
    left:0;
    z-index:500;
}
.header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    width:100%;
    padding:var(--padding-grande);
} 
.header-links-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:100%;
}
.h2-container{
    position: relative;
    margin-right:32px;
}
.h2-container span{
    color:var(--blanco);
    font-size: 26px;
    font-weight: 700;
}
.h2-container img{
    max-width:50px;
    max-height: 50px;
    display:block;
}
ul {
    list-style: none;
    color:var(--blanco);
    display: flex;
    justify-content: center;
}
.link-hover{
    font-size: var(--fuente-pequeña);
    margin-right:var(--margin-mediano);
    position:relative;
    cursor:pointer;

}
.link-hover .links-header:before{
    content:"";
    position: absolute;
    bottom:-6px;
    height:2px;
    width:100%;
    background:var(--blanco);
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}
.link-hover .links-header:hover:before{
    transform:scaleX(1)
}
ul li span{
    margin-right:6px;
}
.header-list-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:100%;
}
.login-links{
    color:var(--blanco);
    font-weight: bold;;
    border-radius:5px;
    padding:var(--padding-mediano);
}

.link-registro{
    background-color: var(--verde);
    color:var(--blanco);
    margin-left: var(--margin-mediano);
    transition:.3s;
}
.link-registro:hover{
    background-color: #2d5257;
}

.submenu{
    position: absolute;
    background-color: var(--azul);
    width:150px;
    display:none;
    left:0;
    top:20px;
}
.submenu li{
    padding:16px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
}
.submenu li:hover{
    background-color:var(--verde)
}

.submenu2{
    position:absolute;
    background-color: var(--azul);
    left:150px;
    top:0;
    display:none;
    width:175px;
}


.link-hover:hover > .submenu{
    display: block;
    animation: slideup .3s ease;
}
.submenu li:hover > .submenu2{
    display:block;
    animation:slideup .3s ease
}

@keyframes slideup{
    0%{
        opacity: 0;
        transform: translateX(18px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}
.fas{
    float:right;
    margin-left: 10px;
    padding-top: 3px;
}
.header-profile-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:100%;
    cursor: pointer;
}
.header-profile-container i{
    font-size: 25px;
    color:var(--blanco);
    padding:6px;
    text-align: center;
    border-radius:100%;
    height:45px;
    width:45px;
    border:3px solid var(--blanco);
    cursor:pointer;
    margin-right:10px;
    position: relative;
}
.menu-links {
    display: flex;
    flex-direction: column;
    background-color: var(--azul);
    width: 150px;
    transform: scaleY(0);
    transition: .3s;
    transform-origin: top;
    position: absolute;
    top:55px;
    left:-50px;
}
.menu-links-show{
    transform: scaleY(1);
}
.menu-links li{
    transition:.3s;
}
.menu-links li:hover {
    background-color: var(--verde);
}

.menu-links li .link-perfil {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: block;
    border: none;
    background-color: transparent;
    color: var(--blanco);
    padding: 16px; //Aplica el padding al <Link> o <button> 
}

.menu-links li:hover .link-perfil {
    color: var(--blanco); //Mantiene el color del texto cuando se hace hover 
}

.header-profile-container span {
    color: var(--blanco);
}
.center-menus{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 768px){
    .ul-links{
        display:none
    }
    .span-nombre{
        display: none;
    }
    .menu-links{
        width:100vw;
        top:75px;
        left:0;
    }
    .menu-links li{
        border-top: 1px solid rgb(255,255,255);
    }
    .header-profile-container i{
        position: unset;
    }

}*/
header{
    height:5rem;
    width:100%;
    border-bottom:1px solid #f2f2f2;
    display:flex;
    justify-content: center;
    background-color: var(--azul);
    position: sticky;
    top:0;
    left:0;
    z-index:500;
}
.header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    width:100%;
    padding:var(--padding-grande);
} 
.header-links-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:100%;
}
.h2-container{
    position: relative;
    margin-right:32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h2-container span{
    color:var(--blanco);
    font-size: 26px;
    font-weight: 700;
}
.h2-container img{
    max-width:50px;
    max-height: 50px;
    display:block;
    margin-right: 12px;
}
ul {
    list-style: none;
    color:var(--blanco);
    display: flex;
    justify-content: center;
}
.link-hover{
    font-size: var(--fuente-pequeña);
    margin-right:var(--margin-mediano);
    position:relative;
    cursor:pointer;

}
.link-hover .links-header:before{
    content:"";
    position: absolute;
    bottom:-6px;
    height:2px;
    width:100%;
    background:var(--blanco);
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}
.link-hover .links-header:hover:before{
    transform:scaleX(1)
}
ul li span{
    margin-right:6px;
}
.header-list-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:100%;
}
.login-links{
    color:var(--blanco);
    font-weight: bold;;
    border-radius:5px;
    padding:var(--padding-mediano);
}

.link-registro{
    background-color: var(--verde);
    color:var(--blanco);
    margin-left: var(--margin-mediano);
    transition:.3s;
}
.link-registro:hover{
    background-color: #2d5257;
}

.submenu{
    position: absolute;
    background-color: var(--azul);
    width:150px;
    display:none;
    left:0;
    top:20px;
}
.submenu li{
    padding:16px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
}
.submenu li:hover{
    background-color:var(--verde)
}

.submenu2{
    position:absolute;
    background-color: var(--azul);
    left:150px;
    top:0;
    display:none;
    width:175px;
}


.link-hover:hover > .submenu{
    display: block;
    animation: slideup .3s ease;
}
.submenu li:hover > .submenu2{
    display:block;
    animation:slideup .3s ease
}

@keyframes slideup{
    0%{
        opacity: 0;
        transform: translateX(18px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}
.fas{
    float:right;
    margin-left: 10px;
    padding-top: 3px;
}
.header-profile-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:100%;
    cursor: pointer;
}
.header-profile-container i{
    font-size: 25px;
    color:var(--blanco);
    padding:6px;
    text-align: center;
    border-radius:100%;
    height:45px;
    width:45px;
    border:3px solid var(--blanco);
    cursor:pointer;
    margin-right:10px;
    position: relative;
}
.menu-links {
    display: flex;
    flex-direction: column;
    background-color: var(--azul);
    width: 150px;
    transform: scaleY(0);
    transition: .3s;
    transform-origin: top;
    position: absolute;
    top:55px;
    left:-50px;
}
.menu-links-show{
    transform: scaleY(1);
}
.menu-burger-show{
    transform: scaleY(1) !important;
    display: flex !important;

}
.menu-links li{
    transition:.3s;
}
.menu-links li:hover {
    background-color: var(--verde);
}
.menu-links li .link-perfil {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: block;
    border: none;
    background-color: transparent;
    color: var(--blanco);
    padding: 16px; /* Aplica el padding al <Link> o <button> */
}

.menu-links li:hover .link-perfil {
    color: var(--blanco); /* Mantiene el color del texto cuando se hace hover */
}

.header-profile-container span {
    color: var(--blanco);
}
.center-menus{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-container{
    display: none;
}
.menu-links-burger{
    display: flex;
    width:100vw;
    flex-direction: column;
    background-color: var(--azul);
    transform: scaleY(0);
    transition: .3s;
    transform-origin: top;
    position: absolute;  
    top:75px;
    left:0;
}
.links-header-burger {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: block;
    border: none;
    background-color: transparent;
    color: var(--blanco);
    padding: 16px; /* Aplica el padding al <Link> o <button> */
}
.menu-links-burger li{
    text-align: center;
    transition:.3s;

}
.menu-links-burger li:hover .links-header-burger{
    color: var(--blanco); /* Mantiene el color del texto cuando se hace hover */
}
.menu-links-burger li:hover {
    background-color: var(--verde);
}


@media only screen and (max-width: 768px){
    .ul-links{
        display:none
    }
    .span-nombre{
        display: none;
    }
    .menu-links{
        width:100vw;
        top:75px;
        left:0;
    }
    .menu-links li{
        border-top: 1px solid rgb(255,255,255);
    }
    .header-profile-container i{
        position: unset;
    }
    .hamburger-container{
        display:block
    }
    .menu-links-burger{
        display:flex;
    }
    .menu-links-burger li{
        border-top: 1px solid rgb(255,255,255);
    }
    .header-list-container{
        display:none;
    }
    
}
@media only screen and (max-width: 880px){
    .link-sesion{
        display:none;
    }

}